body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  background-attachment: fixed;
  background-size: cover;
}

.loader img {
  width: 140px;
}

.star-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.star-list h3 {
  margin-bottom: 0;
}

.star {
  display: flex;
  background: url('./assets/card-bg.gif');
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 5px 0 5px 0;
}

.star img {
  width: 250px;
  border-radius: 20px;
}
